.git
.gitignore
.dart_tool
.idea
.vscode
build
node_modules

android
assets
docs
ios
lib
linux
macos
packages
test
third_party
tool
web
windows

backend/ytmusic_proxy/.venv
backend/ytmusic_proxy/__pycache__
backend/ytmusic_proxy/*.pyc
backend/ytmusic_proxy/*.pyo
backend/ytmusic_proxy/*.pyd
backend/ytmusic_proxy/.pytest_cache
backend/ytmusic_proxy/.mypy_cache
